
.main {
	padding: 2rem 0;
	background-image: linear-gradient(to bottom, rgb(15, 17, 15), rgb(0,0,0));
	flex: 1;
	background-size: cover;
	color: #ffffff;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.card {
	margin: 1rem;
	padding: 1rem;
	height: 300px;
	width: 300px;
	text-align: center;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	background-color: gray;
	border-radius: 10px;
  }
  .bgBlur {
	overflow: hidden;
  }
  .bgBlur::before {
	content: '';
	background-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');
	background-size: cover;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
  }

.textGlow {
	text-shadow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
  }

  .textGradient {
	background: linear-gradient(to right, #30CFD0, #c43ad6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  }

  .btn {
	font-family: sans-serif;
	font-size: 18px;
	padding: 12px 32px;
	margin: 1rem;
	cursor: pointer;
	border-radius: 4px;
	transition: all 0.3s ease;
	border-radius: 50px;
  }

  .btnGlow:hover {
	box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
  }

  .btn-primary {
	background-color: rgb(var(--primary-color));
	border: 1px solid rgb(var(--primary-color));
	color: rgb(var(--text-color));
  }

  .btnSemiTransparent {
	background-color: rgba(var(--primary-color), 0.15);
	border: 1px solid rgba(var(--primary-color), 0.25);
	color: rgba(var(--text-color), 0.8);
  }

  .btnSemiTransparent:hover {
	background-color: rgba(var(--primary-color), 0.35);
	border: 1px solid rgba(var(--primary-color), 0.5);
	color: rgba(var(--text-color), 0.9);
  }

  .btnGradient {
	background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
	border: 0;
	color: rgba(var(--text-color));
  }

  .btnGradientBorder {
	color: rgb(var(--text-color));
	border: 2px double transparent;
	background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
	background-origin: border-box;
	background-clip: padding-box, border-box;
  }